@font-face {
	font-family: 'IIIncrementsSans';
	src: url('/fonts/IIIncrementsSansBold/ii-increments-sans-bold.eot');
	src: url('/fonts/IIIncrementsSansBold/ii-increments-sans-bold.eot?#iefix') format('embedded-opentype'),
             url('/fonts/IIIncrementsSansBold/ii-increments-sans-bold.woff2') format('woff2'),
	     url('/fonts/IIIncrementsSansBold/ii-increments-sans-bold.woff') format('woff'),
	     url('/fonts/IIIncrementsSansBold/ii-increments-sans-bold.ttf') format('truetype'),
	     url('/fonts/IIIncrementsSansBold/ii-increments-sans-bold.svg#youworkforthem') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'IIIncrementsSans';
	src: url('/fonts/IIIncrementsSansMedium/ii-increments-sans-medium.eot');
	src: url('/fonts/IIIncrementsSansMedium/ii-increments-sans-medium.eot?#iefix') format('embedded-opentype'),
             url('/fonts/IIIncrementsSansMedium/ii-increments-sans-medium.woff2') format('woff2'),
	     url('/fonts/IIIncrementsSansMedium/ii-increments-sans-medium.woff') format('woff'),
	     url('/fonts/IIIncrementsSansMedium/ii-increments-sans-medium.ttf') format('truetype'),
	     url('/fonts/IIIncrementsSansMedium/ii-increments-sans-medium.svg#youworkforthem') format('svg');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'IIIncrementsSans';
	src: url('/fonts/IIIncrementsSansRegular/ii-increments-sans-regular.eot');
	src: url('/fonts/IIIncrementsSansRegular/ii-increments-sans-regular.eot?#iefix') format('embedded-opentype'),
             url('/fonts/IIIncrementsSansRegular/ii-increments-sans-regular.woff2') format('woff2'),
	     url('/fonts/IIIncrementsSansRegular/ii-increments-sans-regular.woff') format('woff'),
	     url('/fonts/IIIncrementsSansRegular/ii-increments-sans-regular.ttf') format('truetype'),
       url('/fonts/IIIncrementsSansRegular/ii-increments-sans-regular.svg#youworkforthem') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SangBleuRepublic';
	src: url('/fonts/SangBleuRepublic/SangBleuRepublic-Book.woff') format('woff');
	src: url('/fonts/SangBleuRepublic/SangBleuRepublic-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SangBleuRepublic';
	src: url('/fonts/SangBleuRepublic/SangBleuRepublic-BookItalic.woff') format('woff');
	src: url('/fonts/SangBleuRepublic/SangBleuRepublic-BookItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}
